/* :root {
  --background: #f3f3f3;
  --dark-btn: #e8e8e8;
  --num-btn: rgb(253, 253, 253);
  --hover-gray: #e1e1e1;
  --menu-hover: #e3e3e3;
} */

:root[data-theme="defult"] {
  --background: #f3f3f3;
  --dark-btn: #e8e8e8;
  --num-btn: #fdfdfd;
  --hover-gray: #e1e1e1;
  --menu-hover: #e3e3e3;
  --radius: 0;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root[data-theme="green"] {
  --background: #bdf77a;
  --dark-btn: #53bf3e;
  --num-btn: #c4f13a;
  --hover-gray: #33721b;
  --menu-hover: #33721b;
  --radius: 15px;
  --font-family: "Inconsolata", monospace;
}

:root[data-theme="blue"] {
  --background: #68fcfc;
  --dark-btn: #57a9ca;
  --num-btn: #7fc0eb;
  --hover-gray: #08639f;
  --menu-hover: #2166ef;
  --radius: 15px 0 15px 0;
  --font-family: "Kalam", cursive;
}

:root[data-theme="purple"] {
  --background: #cd51d8;
  --dark-btn: #6b136b;
  --num-btn: #f04df0;
  --hover-gray: #530053;
  --menu-hover: #530053;
  --radius: 10px 10px 10px 0;
  --font-family: "Pathway Gothic One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--background);
}

#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(300px, 100%);
  grid-template-rows: minmax(33px, 4%) minmax(120px, 33%) minmax(257px, 62%);
  grid-template-areas:
    "header"
    "result"
    "buttons";
  overflow-y: auto;
  overflow-x: auto;
}
/* the header part */
#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  width: 137px;
}

li {
  height: 100%;
  width: 33.333333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: var(--menu-hover);
}

h1 {
  font-family: var(--font-family);
  font-size: 0.8rem;
  margin-top: 8px;
  margin-left: 10px;
}

.standard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.menu,
.history-icon,
.trash {
  width: 39px;
  height: 39px;
  padding: 10px;
}

.history-icon {
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.menu:hover {
  background-color: var(--menu-hover);
  border-radius: var(--radius);
}

.history-icon:hover {
  background-color: var(--menu-hover);
}

.stand {
  margin-left: 5px;
  margin-top: 4px;
  font-size: 1.3em;
  font-family: var(--font-family);
}

/* the result part */
#result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.number {
  font-size: 2.8rem;
  align-self: flex-end;
  margin-right: 10px;
  font-weight: 600;
  font-family: var(--font-family);
}

.up {
  width: 100%;
  height: 19.9%;
  min-height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* the M's part */
.small {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: space-between;
}

.small-btn-ms {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  max-width: 550px;
}

.small-ms {
  height: 90%;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-family: var(--font-family);
  border: none;
  background-color: transparent;
}

/* the buttons part */
#buttons {
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dark {
  background-color: var(--dark-btn);
}

.num {
  /* font-size: 1.6em;
  font-weight: 600; */
  background: var(--num-btn);
}

.one-x {
  width: 1.5rem;
  height: 1.5rem;
}

#buttons .btnhide {
  display: none;
}

.Btn {
  width: 24.5%;
  height: 16.1%;
  border: none;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

.Btn:hover {
  background-color: var(--hover-gray);
}

.active:hover {
  background-color: var(--hover-gray);
  border-radius: var(--radius);
}

/* the history part */
#history,
.btnhide {
  display: none;
}

.history-and-memory {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 13px;
  font-family: var(--font-family);
}

.mem {
  margin-left: 35px;
  font-weight: bold;
}

.his {
  margin-top: 7px;
  border-bottom: 3px solid orange;
  padding-bottom: 3px;
  font-weight: bold;
}

.text-history p {
  margin-top: 30px;
  margin-left: 8px;
  font-size: 0.9em;
  font-weight: bold;
  font-family: var(--font-family);
}

.trash {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: auto;
  /* margin-bottom: flex-end; */
}

.trash:hover {
  background-color: var(--menu-hover);
  border-radius: var(--radius);
}

.first {
  order: -1;
}

.second {
  order: -2;
}

.third {
  order: -3;
}

.fourth {
  order: -4;
}

/* the media part */
@media screen and (min-width: 500px) {
  #container {
    grid-template-columns: minmax(57%, auto) minmax(43%, 320px);
    grid-template-areas:
      "header header"
      "result history"
      "buttons history";
  }

  #history {
    display: block;
    grid-area: history;
  }

  .extera-m {
    display: none;
  }

  .history-icon {
    display: none;
  }

  .small-btn-ms {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (min-width: 740px) {
  #container {
    grid-template-columns: auto 320px;
  }

  .Btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) and (min-height: 620px) {
  #buttons .btnhide {
    display: block;
  }

  .Btn {
    width: 19.6%;
    height: 19.2%;
    order: 1;
  }
}
